@model IEnumerable<Pictulr.Data.Node>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NodeNameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassificationTechnique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NodeNameId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassificationTechnique)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NodeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.NodeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NodeId })
        </td>
    </tr>
}

</table>
