@model IEnumerable<Pictulr.Data.Picture>

@{
    ViewBag.Title = "Index";
}

<h2>Picture Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="containter my-5">
        <div class="row py-4">
            <div class="form-horizontal col-sm-6 col-md-8 col-lg-6">
                <h4>Select Images to </h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                @foreach (var item in Model)
                {

                    <div class="form-group">
                        @Html.LabelFor(model => item.PictureTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => item.PictureTitle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => item.PictureTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row my-5">
                            <div class="col-md-3 col-md-offset-1 my-6">
                                <img src="@Url.Content(item.ImageLocation)" width="125" height="125" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => item.SubjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => item.SubjectName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => item.SubjectName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => item.NodeName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => item.NodeName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => item.NodeName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => item.AddImage, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.CheckBoxFor(model => item.AddImage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => item.AddImage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div></div>
                    <div></div>
                }
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="Create" class="btn btn-warning" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Node.NodeNameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Base64EncodedImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecievedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionalMetadata)
        </th>
        <th></th>
    </tr>


</table>
