@model IEnumerable<Pictulr.Data.Picture>

@{
    ViewBag.Title = "Index";
}

<h2>List Pics</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="containter my-5">
        <div class="row py-4">
            <div class="form-horizontal col-sm-6 col-md-8 col-lg-6">
                <h4>Select Images to Add</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                @foreach (var item in Model)
                {


                    <div class="container col-md-pull-1 col-md-6">
                        <div class="col-xs-4 col-sm-3 col-md-4 my-6">
                            <img src="@Url.Content(item.ImageLocation)" width="125" height="125" />
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-3 my-6">
                            <div class="panel panel-warning" style="width: 25rem;">

                                <dl class="dl-horizontal">
                                    <dt class="col-xs-1">Picture Title: </dt>
                                    <dd>
                                        @Html.DisplayFor(model => item.PictureTitle)
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt class="col-xs-1">Subject: </dt>
                                    <dd>
                                        @Html.DisplayFor(model => item.SubjectName)
                                    </dd>
                                </dl>

                            </div>
                            @Html.ActionLink("Update Image", $"Edit/{item.PictureId}", null, new { @class = "btn btn-warning btn-xs" })
                            @Html.ActionLink("Delete", $"Delete/{item.PictureId}", null, new { @class = "btn btn-outline-danger btn-xs" })
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
}

